# Configurações do Supabase (Insira nas Variáveis de Ambiente da Vercel ou na aba "Vincular Banco" da Gestão)
VITE_SUPABASE_URL=https://brmclyukjfijommbxhks.supabase.co
VITE_SUPABASE_ANON_KEY=coloque_sua_anon_public_key_aqui
